<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Type Code</span>
  </div>
  <textarea
    rows=12
    class="form-control"
    aria-label="Type Command"
    id="code-input"><%= @commands %></textarea>
</div>
