<div class="input-group code-input border">
  <div class="input-group-prepend">
    <span class="input-group-text no-border">Type Code</span>
  </div>
  <textarea
    rows=12
    class="form-control"
    aria-label="Type Command"
    id="code-input"></textarea>
</div>
