<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Command line</span>
  </div>
  <textarea class="form-control" aria-label="Output" id="command-line" disabled></textarea>
</div>
<br><br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Command output</span>
  </div>
  <textarea class="form-control" aria-label="Output" id="command-output" disabled></textarea>
</div>
