<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="environment-input">Environment</label>
  </div>
  <select class="js-example-basic-single js-states form-control" id="environment-input">
    <option selected>staging</option>
    <option>sandbox</option>
    <option>production</option>
  </select>
</div>
