<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="project-input">Project</label>
  </div>
  <select class="js-example-basic-single js-states form-control" id="project-input">
    <option selected>oso-api</option>
    <option>decider-notification-service</option>
    <option>decider-attachment-service</option>
    <option>decider-message-service</option>
    <option>decider-note-service</option>
    <option>decider-evidence-service</option>
  </select>
</div>
