<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="without-task-logs">
  <label class="form-check-label" for="without-task-logs">
    Without task logs
  </label>
</div>
