<div class="container-md border p-3">
  <h2>Execute ruby code on ESC instance</h2>
  <form>
    <h3>Settings</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="environment-input">Environment</label>
      </div>
      <select class="js-example-basic-single js-states form-control" id="environment-input">
        <option selected>staging</option>
        <option>sandbox</option>
        <option>production</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="project-input">Project</label>
      </div>
      <select class="js-example-basic-single js-states form-control" id="project-input">
        <option selected>oso-api</option>
        <option>decider-notification-service</option>
        <option>decider-attachment-service</option>
        <option>decider-message-service</option>
        <option>decider-note-service</option>
      </select>
    </div>

    <h3>Variables</h3>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="output" checked>
      <label class="form-check-label" for="output">Output</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="wait">
      <label class="form-check-label" for="wait">Wait</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="without-task-logs">
      <label class="form-check-label" for="wait">Without task logs</label>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Type Code</span>
      </div>
      <textarea class="form-control" aria-label="Type Command" id="code-input"></textarea>
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="run-command">
      Run
    </button>
  </form>

  <br><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Command line</span>
    </div>
    <textarea class="form-control" aria-label="Output" id="command-line" disabled></textarea>
  </div>
  <br><br>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Command output</span>
    </div>
    <textarea class="form-control" aria-label="Output" id="command-output" disabled></textarea>
  </div>
</div>
